/* Header styles */
body, html{
  height: 100%;
  width: 100%;
}

.header-text{
  color: #fffdd0;
}

.powered-by-container{
  border: 2px #fffdd0 dashed;
  margin-top: 50px;
  padding: 15px 15px;
}

.powered-by-header{
  color: #fffdd0;
  align-self: center;
  text-decoration: underline
  
}

.powered-by-text{
  color: #fffdd0;
  align-self: center;

}

.header-container {
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: space-between;
}

/* Map */

#map{
  position: absolute;
  right:0;
  top: 0;
  width: 75vw;
  height: 100vh;
}

/* Location list */

#locationListContainer{
  position: fixed;
  top: 0;
  left: 0;
  width: 25vw;
  height: 100vh;
  background-color: #360A14;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  align-items: center;
}

ul{
  list-style: none;
}

.search-input{
  width: 115px;
  height: 15px;
  border-radius: 20px;
  border: 2px solid #360A14;
  padding: 10px;
}

.list-locations{
  border: 1px #360A14 solid;
  height: 25px;
  padding-top: 7px;
  color: black;
  background-color: #fffdd0;
  width: 148px;
  text-align: center;
  border-radius: 20px;
  margin-right: 35px;
  margin-bottom: 15px;
  flex-shrink: 1;
}

/* Tablets */

@media screen and (min-width: 361px) and (max-width: 768px) {
  .search-input {
    width: 115px;
    height: 15px;
    margin-right: -1px;
    border-radius: 20px;
    border: 2px solid #360A14;
    padding: 10px;
  }
  .list-locations {
    border: 1px #360A14 solid;
    height: 25px;
    padding-top: 7px;
    color: black;
    background-color: #fffdd0;
    width: 173px;
    text-align: center;
    border-radius: 20px;
    margin-right: 35px;
    margin-bottom: 15px;
    flex-shrink: 1;
  } 

  #map {
    position: absolute;
    right: -5px;
    top: 0;
    width: 75vw;
    height: 100vh;
  } 
 
}

/* Smaller screens such as phones  */

 @media screen and (min-width: 0px) and (max-width: 375px) {
  #locationListContainer {
    position: fixed;
    top: 0;
    left: 0;
    width: 40%;
    height: 100%;
    background-color: #360A14;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #map{
    position: absolute;
    right:0;
    top: 0;
    width: 60%;
    height: 100%;
  }

  .search-input {
    width: 115px;
    height: 6px;
    margin-right: -1px;
    margin-top: 12px;
    border-radius: 20px;
    border: 2px solid #360A14;
    padding: 10px;
  }

  ul {
    font-size: 0.8em;
    list-style: none;
  }

  .list-locations {
    border: 1px #fffdd0 solid;
    height: 24px;
    padding-top: 7px;
    color: black;
    background-color: #fffdd0;
    width: 130px;
    text-align: center;
    border-radius: 20px;
    margin-right: 35px;
    margin-bottom: 15px;
    flex-shrink: 1;
  }
} 